@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@400;700&display=swap');

* {
  margin: 0;
}

body {
  font-family: Ubuntu, sans-serif;
  background-color: whitesmoke;
}

.temp-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80vh;
}

.sorry {
  font-weight: bolder;
}

.header {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  text-shadow: 1.5px 1.5px 1.5px rgb(225, 0, 0);
}

.home-page {
  margin: auto;
  text-align: center;
}

.top-bar {
  background-color: white;
  height: auto;
  border-bottom: 2px solid black;
}

.top-bar-logo {
  display: block;
  max-height: 10vh;
  margin-top: 5px;
  margin-bottom: 5px;
}

ul.user-accounts {
  list-style-type: none;
  background-color: white;
  margin: auto;
  text-align: center;
}

.featured-playlist-tile {
  min-height:65vh;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.922);
  margin: auto;
  width: 80%; 
  height: 50%;
  text-align: center;
  h2 {
    color: red;
    text-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0);
  }
  ul {
    list-style-position: inside;
    margin-left: 0%;
    padding-left: 1%;
    list-style-type: none;
    text-align: left;
  }
}

.playlists-index {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  align-items: center;
  background-color: whitesmoke;
  margin: 1rem;
}

.links {
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  a {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 5px;
    padding: 3px 8px 4px;
    text-shadow: 1px 1px 1.5px rgb(250, 0, 0);
  } a:hover {
    box-shadow: 2px 2px 2px 0.5px #a4a4a4;
    color: rgb(206, 27, 27);
    font-family: Ubuntu, sans-serif;
    text-shadow: 0.5px 0.5px 0.5px rgb(135, 0, 0);
  }
}

// to be redesigned
.playlist-tile {
  background-color: rgb(241, 238, 238);
  border: 1.5px solid rgba(0, 0, 0, 0.408);
  border-radius: 5px;
  width: 80%;
  margin: 3px 0px;
  padding: 0px 1%;
  h4 {
    font-weight: 400;
    color: rgb(225, 0, 0);
    font-family: Roboto, sans-serif;
    text-shadow: 0.5px 0.5px 2px rgb(54, 54, 54);
  }
  p {
    font-family: Ubuntu, sans-serif;
    color: rgb(38, 38, 38);
    text-shadow: 0.5px 0.5px 1px rgb(142, 0, 0);
  }
}

// to be redesigned
div.playlist-tile:hover {
  background-image: linear-gradient(to top left, rgba(255,0,0,0), rgb(249, 249, 249) );
  font-weight: bold; 
  box-shadow: 2px 2px 2px #a4a4a4;
  h4 {
    color: rgb(187, 5, 5);
    font-weight: 800;
  }
}

.playlist-search-bar {
  width: 60%;
  border: 1px;
  margin-bottom: -1%;
}

.playlist-show-container {
  border: 1px solid green;
  margin: 5px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.playlist-information {
  border: 1px solid purple;
  margin: 5px;
}

.edit-or-delete {
  border: 1px solid orange;
  font-weight: bold;
  margin-bottom: 5px;
  input {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 5px;
    padding: 3px 8px 4px;
    text-shadow: 1px 1px 1.5px rgb(250, 0, 0);
  }
  input:hover {
    box-shadow: 1px 1px 1px 0.5px #a4a4a4;
    color: rgb(206, 27, 27);
    font-family: Ubuntu, sans-serif;
    text-shadow: 0.5px 0.5px 0.5px rgb(135, 0, 0);
  }
}

.songs-container {
  border: 1px solid blue;
  margin: 5px;
}

.song-tile {
  border: 1px solid red;
  margin: 5px;
}

.search-result-tile {
  display: flex;
  border: 1px solid black;
  justify-content: baseline;
}