@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@400;700&display=swap');

* {
  margin: 0;
}

.temp-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80vh;
}

.sorry {
  font-weight: bolder;
}

.home-page {
  height:80vh;
  background-color: whitesmoke;
}

.top-bar {
  background-color: white;
  height: 100px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.top-bar-logo {
  display: block;
  max-width: 30%;
}

ul.user-accounts {
  list-style-type: none;
  background-color: white;
  margin: auto;
  text-align: center;
}

.title {
  color: red;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.featured-playlist-tile {
  min-height:65vh;
  border: 1px solid gold;
  margin: auto;
  width: 80%; 
  height: 50%;
  text-align: center;
}

.playlists-index {
  border: 1px solid purple;
  margin: 1rem;
}

.playlist-show-container {
  border: 1px solid blue;
  margin: 1rem;
}

.playlist-tile {
  border: 1px solid orange;
  margin: 1rem;
}

.songs-container {
  border: 1px solid black;
  margin: 1rem;
}

.song-tile {
  border: 1px solid green;
  margin: 1rem;
}

.login-options {
  border: 1px solid pink;
  margin: 1rem;
}

.home-page {
  border: 1px solid teal;
  margin: auto;
  text-align: center;
}